/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
	margin: 0;
	font-family: "Poppins", serif;
}
.container{
	width: 900px;
	max-width: 90vw;
	margin: auto;
	text-align: center;
	padding-top: 10px;
	transition: transform .5s;
}
svg{
	width: 30px;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	background-color: Azure;
}
header .title{
	margin-left: 20px;
}
header .icon-cart{
	position: relative;
	margin-right: 20px;
}
header .icon-cart span{
	display: flex;
	width: 30px;
	height: 30px;
	background-color: red;	
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
}
.listProduct .item img{
	width: 90%;
	filter: drop-shadow(0 50px 20px grey); /* shadow */
}
.listProduct{
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* 4 items per row ? ---------------------------------- */
	gap: 20px;
}
.listProduct .item{
	background-color: whitesmoke;
	border-radius: 20px;
	padding: 20px;
}
.listProduct .item h2{
	font-weight: 500;
	font-size: large;
}
.listProduct .item .price{
	letter-spacing: 7px;
	font-size: small;
}
.listProduct .item button{
	background-color: black;
	color: white;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	margin-top: 10px;
	padding: 5px 10px;
}
.listProduct .item button:hover{
	background-color: DarkSlateGray;
}
/*the below way by class selecting not working*/
/* .addCart:hover{	
	background-color: green;
} */
.listProduct .description{
	font-size: small;
	padding-top: 10px;
}
#idcartTab{
	transition: transform 0.3s ease; /* Smooth scaling effect */
}
.cartTab{
	width: 400px;  /* adjust ---------------------------------------------------- */
	background-color: gray;
	color: white;
	position: fixed;
	/* top: 0;
	right: 0;
	bottom: 0; */
	inset: 0 -400px 0 auto; /* inset: 0 0 0 auto; inset */
	display: grid;
	grid-template-rows: 70px 1fr 70px;
	transition: .5s;
}
body.showCart .cartTab{
	inset: 0 0 0 auto;
}
body.showCart .container{
	transform: translateX(-250px);
}
.cartTab h1{
	padding: 20px;
	margin: 0;
	font-weight: 300;
}
.cartTab .btn{
	display: grid;
	grid-template-columns: repeat(3,1fr);
}
.cartTab .btn button{
	/* background-color: orange; */
	border: none;
	font-family: Poppins;
	font-weight: 500;
	cursor: pointer;
	padding: 20px; /* added ---- */
}
.totalAmount{
	/* margin: 5px 5px; */
	padding-left: 10px;
}
.itemTypes{
	/* margin: 5px 5px;	 */
	padding-left: 10px;
}
.cartTab .btn .close{
	background-color: silver;
}
.cartTab .btn .clearCart{
	background-color: PaleTurquoise;
}
.cartTab .btn .checkOut{
	background-color: rgb(207, 250, 207);
}
.cartTab .listCart .item img{
	width: 100%;	
}
.cartTab .listCart .item{
	display: grid;
	grid-template-columns: 50px 150px 50px 1fr; /* adjust ---------- previous: 70px 150px 50px 1fr */
	gap: 10px;
	text-align: center;
	align-items: center;
}
.listCart{
	overflow: auto;
}
.listCart .quantity{
	display: flex;
	/* justify-content: space-between; */
}
.listCart .quantity span{
	display: inline-block; /* to adjust size, n still stay in same row */
	width: 25px;
	height: 25px;
	background-color: #eee;
	color: #555;
	border-radius: 50%;
	cursor: pointer;
}
.listCart .quantity span:nth-child(2){
	background-color: transparent;
	color: #eee;
}
.listCart .quantity span:nth-child(4){
	background-color: #eee;
	margin-left: 10px;
	cursor: pointer;
	/* color: red; */
}

.listCart .item:nth-child(even){
	background-color: #eee1;
}

/* .listCart::-webkit-scrollbar{
	width: 0;
} */
@media screen and (max-width: 1200px ){
	.listProduct{
		grid-template-columns: repeat(3, 1fr);  /* 3 items/row below 1200px */
	}
} 
@media screen and (max-width: 800px ){ 
	.listProduct{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 400px ){
	.listProduct{
		grid-template-columns: repeat(1, 1fr);  /* 1 item/row below 400px */
	}
} 


/*  */